<p id="notice"><%= notice %></p>

<h1>Listing Encuesta</h1>

<table>
  <thead>
    <tr>
      <th>Encuesta</th>
      <th>Encuesta estado</th>
      <th>Encuesta nombre</th>
      <th>Encuesta descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuesta.each do |encuestum| %>
      <tr>
        <td><%= encuestum.Encuesta_id %></td>
        <td><%= encuestum.Encuesta_estado %></td>
        <td><%= encuestum.Encuesta_nombre %></td>
        <td><%= encuestum.Encuesta_descripcion %></td>
        <td><%= link_to 'Show', encuestum %></td>
        <td><%= link_to 'Edit', edit_encuestum_path(encuestum) %></td>
        <td><%= link_to 'Destroy', encuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuestum', new_encuestum_path %>
