<p id="notice"><%= notice %></p>

<p>
  <strong>Opcion:</strong>
  <%= @opcion.Opcion_id %>
</p>

<p>
  <strong>Opcion valor:</strong>
  <%= @opcion.Opcion_valor %>
</p>

<%= link_to 'Edit', edit_opcion_path(@opcion) %> |
<%= link_to 'Back', opcions_path %>
