<p id="notice"><%= notice %></p>

<h1>Listing Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario rut</th>
      <th>Usuario nombre</th>
      <th>Usuario correo</th>
      <th>Usuario rol</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.Usuario_rut %></td>
        <td><%= usuario.Usuario_nombre %></td>
        <td><%= usuario.Usuario_correo %></td>
        <td><%= usuario.Usuario_rol %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
