<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario rut:</strong>
  <%= @usuario.Usuario_rut %>
</p>

<p>
  <strong>Usuario nombre:</strong>
  <%= @usuario.Usuario_nombre %>
</p>

<p>
  <strong>Usuario correo:</strong>
  <%= @usuario.Usuario_correo %>
</p>

<p>
  <strong>Usuario rol:</strong>
  <%= @usuario.Usuario_rol %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
